# PostgreSQL
POSTGRES_USER=admin
POSTGRES_PASSWORD=secret123
POSTGRES_DB=sensor_db
POSTGRES_HOST=postgres
# InfluxDB
INFLUXDB_USERNAME=admin
INFLUXDB_PASSWORD=secret123
INFLUXDB_ORG=sensor_org
INFLUXDB_BUCKET=sensor_bucket
INFLUXDB_TOKEN=supersecrettoken
INFLUXDB_URL=http://influxdb:8086
# JWT
JWT_SECRET=super_secret_jwt_key_2024
JWT_EXPIRES_IN=7d

# Backend
PORT=3000
NODE_ENV=development
CLIENT_URL=http://localhost:5173

# MQTT
MQTT_BROKER_URL=mqtts://mosquitto:8883
MQTT_USERNAME=mqttuser
MQTT_PASSWORD=mqttpass
MQTT_CA_CERT=/mosquitto/certs/ca.crt